[submodule "dotbot"]
	path = installer/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/plugins/powerlevel10k"]
	path = zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/plugins/zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/plugins/zsh-you-should-use"]
	path = zsh/plugins/zsh-you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use
[submodule "tools/github/fzf"]
	path = tools/github/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "installer/plugins/dotbot-ifplatform"]
	path = installer/plugins/dotbot-ifplatform
	url = https://github.com/ssbanerje/dotbot-ifplatform.git
[submodule "installer/plugins/dotbot-apt"]
	path = installer/plugins/dotbot-apt
	url = https://github.com/bryant1410/dotbot-apt
[submodule "installer/plugins/dotbot-brew"]
	path = installer/plugins/dotbot-brew
	url = https://github.com/wren/dotbot-brew.git
[submodule "installer/plugins/dotbot-sudo"]
	path = installer/plugins/dotbot-sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
